<!-- Notification for no employees -->
<!--<div *ngIf="offres?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO EMPLOYEES!</h4>
  <p>No Employees were found.</p>
</div>
</div>-->


<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Infosat</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" href="/home" routerLink="home">Home </a>
      </li>
      <li *ngIf="showAdminBoard" class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" href="/offre" routerLink="offre">offre management</a>
      </li>
      <li *ngIf="showAdminBoard" class="nav-item">
        <a class="nav-link" href="/admin" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="showModeratorBoard" class="nav-item">
        <a class="nav-link" href="/mod" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a *ngIf="showUser" class="nav-link" href="/user" routerLink="user">User</a>
      </li>
      <li *ngIf="showUser" class="nav-item">
        <a class="nav-link" href="/postuler" routerLink="postuler">Postule </a>
      </li>

    </ul>

    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/register" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" routerLink="login">Login</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link" href>LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
